html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

@import url(//db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro);
@font-face {font-family: "BMWTypeNext Pro"; src: url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot"); src: url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff") format("woff"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro") format("svg"); }
@import url(//db.onlinewebfonts.com/c/18ef7d48e5aad7f01745ddab09c29bf7?family=BMW+Type+Web+Bold+All);
@font-face {font-family: "BMW Type Global Pro Bold"; src: url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.eot"); src: url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.woff") format("woff"), url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c33ef0614a811078c1d3a028f8d38301.svg#BMW Type Global Pro Bold") format("svg"); }

/* HEADER */

.parent {
    position: relative;
    width: 100%;
    height:100%;
    padding: 0;
}

.img_presentation {
    width: 100%;
    height:100%;
}

.rowflex {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child1 {
    padding-left: 70px;
 }
 
 .logo_title {
     width: 77%;
 }
 
 .child2 {
     padding-right: 47px;
 }
 
 .logo {
     width: 70%
 }

 .border-bottom-header {
    position: absolute;
    width: 90%;
    height: 0.1%;
    top: 17%;
    left: 5%;
    margin-bottom: 40px;
    background-color: white;
    opacity: 1;
}

/* MAIN */

.block_h1 {
    position: absolute;
    width: 70%;
    height: 15%;
    top: 18%;
    left: 15%;
    background-color: transparent;
    margin: auto;
}

h1 {
    font-family: "BMWTypeNext Pro", Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
}

span {
    font-family: "BMW Type Global Pro Bold", Arial, Helvetica, sans-serif;
}

.block_navigation{
    position: absolute;
    width: 80%;
    height: 70%;
    bottom: -7%;
    left: 10%;
    margin-bottom: 50px;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 40px;
}

.block_summary {
    width: 102%;
    height: 94%;
    background-color: white;
}

#block_one, #block_two, #block_three, #block_four, #block_five, #block_six, #block_seven, #block_eight{
    opacity: 0.85;
    cursor: pointer;
}

.block_svg, .block_title {
    height: 50%;
}

.block_title > p {
    color: black;
    font-family: "BMWTypeNext Pro", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/* FOOTER */

footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background: #B3B3B3;
    border: 1px solid #707070;
}

.copyright {
    display: table-cell;
    vertical-align: middle;
    padding-left: 58px ;    
}

.paragraph-footer {
    display: table-cell;
    vertical-align: middle;
}

.link-footer {
    padding-right: 15px;
    text-decoration: none;
    color: black;
    pointer-events: none;
    cursor: default;
}