html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "BMWTypeNext Light", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "BMWTypeNext Regular";
  src: url("/fonts/BMWTypeNext/TTF/BMWTypeNextTT-Regular.ttf") format("ttf"),
    url("/fonts/BMWTypeNext/EOT/BMWTypeNextTT-Regular.eot") format("eot"),
    url("/fonts/BMWTypeNext/WOFF/BMWTypeNextTT-Regular.woff") format("woff"),
    url("/fonts/BMWTypeNext/WOFF2/BMWTypeNext-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "BMWTypeNext Light";
  src: url("/fonts/BMWTypeNext/TTF/BMWTypeNextTT-Light.ttf") format("ttf"),
    url("/fonts/BMWTypeNext/EOT/BMWTypeNextTT-Light.eot") format("eot"),
    url("/fonts/BMWTypeNext/WOFF/BMWTypeNextTT-Light.woff") format("woff"),
    url("/fonts/BMWTypeNext/WOFF2/BMWTypeNext-Light.woff2") format("woff2");
}

@font-face {
  font-family: "BMWTypeNext Bold";
  src: url("/fonts/BMWTypeNext/TTF/BMWTypeNextTT-Bold.ttf") format("ttf"),
    url("/fonts/BMWTypeNext/EOT/BMWTypeNextTT-Bold.eot") format("eot"),
    url("/fonts/BMWTypeNext/WOFF/BMWTypeNextTT-Bold.woff") format("woff"),
    url("/fonts/BMWTypeNext/WOFF2/BMWTypeNext-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "BMWTypeNext Thin";
  src: url("/fonts/BMWTypeNext/TTF/BMWTypeNextTT-Thin.ttf") format("ttf"),
    url("/fonts/BMWTypeNext/EOT/BMWTypeNextTT-Thin.eot") format("eot"),
    url("/fonts/BMWTypeNext/WOFF/BMWTypeNextTT-Thin.woff") format("woff"),
    url("/fonts/BMWTypeNext/WOFF2/BMWTypeNext-Thin.woff2") format("woff2");
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.img_presentation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.ombrage_responsive {
  display: none;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.rowflex {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child1 {
  padding-left: 70px;
}

.logo_title {
  width: 77%;
}

.child2 {
  padding-right: 47px;
}

.logo {
  width: 70%;
}

nav {
  display: none;
}

.block_presentation {
  position: absolute;
  width: 56%;
  height: 72%;
  top: 22%;
  left: 22%;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.85);
}

.block_h1 {
  width: 85%;
  margin: auto;
  border-bottom: 1px solid #707070;
}

h1 {
  font-family: "BMWTypeNext Bold", Arial, Helvetica, sans-serif;
  color: #707070;
  font-weight: 900;
  padding-top: 35px;
  padding-bottom: 10px;
  text-align: center;
  opacity: 1;
  font-size: 2em;
}

.block_paragraph {
  width: 100%;
  margin: auto;
  font-size: 1.1em;
  text-align: center;
}

p {
  color: #707070;
  padding-top: 10px;
}

.block_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-one,
.div-two,
.div-three,
.div-four,
.div-five,
.div-six {
  position: relative;
  font-family: "BMWTypeNext Light", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.div-one.active,
.div-two.active,
.div-three.active,
.div-four.active,
.div-five.active,
.div-six.active {
  position: relative;
  font-size: 0.85em;
}

.button-one,
.button-two,
.button-three,
.button-four,
.button-five,
.button-six {
  width: 420px;
  height: 45px;
  margin-top: 5px;
  color: #0066b1;
  border: 1px solid #0066b1;
  border-radius: none;
}

.loa:hover,
.passlease-loa:hover,
.ldd:hover,
.passlease-ldd:hover,
.credit:hover,
.credit-ballon:hover {
  background-color: #0066b1;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.svg-loa,
.svg-passlease-loa,
.svg-ldd,
.svg-passlease-ldd,
.svg-credit,
.svg-credit-ballon {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 8px;
  padding-right: 20px;
  padding-top: 8px;
}

path {
  z-index: -1;
}
