@media all and (min-width: 1400px) {
  .circle {
      top: 27px;
  }
  .title_menu {
      top: 35px;
  }
}
@media all and (min-width: 1130px) and (max-width: 1399px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 240px;
  }
  .block_infos_one,
  .block_infos_three,
  .block_infos_two {
      width: 75%;
  }
}
@media all and (min-width: 993px) and (max-width: 1130px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 225px;
  }
  .img_presentation {
      -o-object-fit: cover;
      object-fit: cover;
  }
  .block_infos_one,
  .block_infos_three,
  .block_infos_two {
      width: 87%;
  }
}
@media all and (min-width: 890px) and (max-width: 992px) {
  .circle {
      top: 30px;
      right: 17%;
  }
  .nav-container .checkbox-one {
      right: 17.3%;
  }
  .cross {
      top: 5px;
      right: 15.8%;
  }
  .title_menu {
      display: none;
  }
  #ligne-dashed-one,
  #ligne-dashed-three,
  #ligne-dashed-two,
  #svg-circle-lign-one,
  #svg-circle-lign-three,
  #svg-circle-lign-two {
      left: 32%;
  }
  .block_infos_one,
  .block_infos_three,
  .block_infos_two {
      width: 85%;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 769px) and (max-width: 890px) {
  .circle {
      top: 30px;
      right: 19%;
  }
  .nav-container .checkbox-one {
      right: 19.3%;
  }
  .cross {
      top: 5px;
      right: 17.8%;
  }
  .title_menu {
      display: none;
  }
  .div-paragraph {
      margin-left: 80px;
  }
  #ligne-dashed-one,
  #ligne-dashed-three,
  #ligne-dashed-two,
  #svg-circle-lign-one,
  #svg-circle-lign-three,
  #svg-circle-lign-two {
      left: 32%;
  }
  .block_infos_one,
  .block_infos_three,
  .block_infos_two {
      width: 90%;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 657px) and (max-width: 768px) {
  .block_infos_three,
  .block_infos_two {
      position: absolute;
      left: -3.9%;
      width: 70%;
  }
  .child2,
  .flex_copyright,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_link_footer,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 150px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_icon_inch {
      padding-bottom: 35px;
      padding-left: 25px;
  }
  #Tracé_25 {
      fill: #0066b1;
  }
  .block_title {
      width: 100%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 20px;
      margin-left: 5px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 13px;
      padding-left: 10px;
  }
  .block_presentation_main {
      margin-top: 90px;
  }
  .div-paragraph {
      width: 75%;
      margin-left: 50px;
  }
  #ligne-dashed-one {
      top: -2%;
      left: 26%;
  }
  #ligne-dashed-two {
      top: 23%;
      left: 26%;
  }
  #ligne-dashed-three {
      bottom: 32%;
      left: 26%;
  }
  #ligne-dashed-four {
      display: block;
      bottom: 9%;
      left: 26%;
  }
  #ligne-dashed-five {
      display: block;
      top: -2%;
      left: 26%;
  }
  #ligne-dashed-two.activeCircleBlue {
      top: 48%;
      left: 26%;
  }
  #ligne-dashed-three.activeCircleBlue {
      bottom: 7%;
      left: 26%;
  }
  #ligne-dashed-four.activeCircleBlue,
  #ligne-dashed-four.activeCircleGrey {
      bottom: 65%;
      left: 26%;
  }
  #ligne-dashed-two.activeCircleGrey {
      top: 48%;
      left: 26%;
      opacity: 0;
  }
  #ligne-dashed-three.activeCircleGrey {
      bottom: 7%;
      left: 26%;
      opacity: 0;
  }
  #ligne-dashed-five.activeCircleGrey {
      top: 47%;
      left: 26%;
  }
  #svg-circle-lign-one {
      top: 10%;
      left: 26%;
  }
  #svg-circle-lign-two {
      bottom: -18%;
      left: 26%;
  }
  #svg-circle-lign-three {
      bottom: -43%;
      left: 26%;
  }
  #svg-circle-lign-two.activeCircleBlue {
      top: 34%;
      left: 26%;
  }
  #svg-circle-lign-three.activeCircleGrey {
      bottom: -10%;
      left: 26%;
  }
  #svg-circle-one {
      top: 2%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two {
      top: 51%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-three {
      bottom: -4%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two.active {
      top: 23%;
      left: 1%;
  }
  #svg-circle-three.active {
      bottom: 25%;
      left: 1%;
      width: 100px;
  }
  #svg-custom,
  #svg-key,
  #svg-key.active,
  #svg-times,
  #svg-times.active {
      width: 28px;
      height: 28px;
      margin-left: 55px;
  }
  #svg-custom {
      top: 13.5%;
  }
  #svg-times {
      top: 252px;
  }
  #svg-times.active {
      top: 140px;
  }
  #svg-key {
      bottom: 32px;
  }
  #svg-key.active {
      bottom: 147px;
  }
  .block_infos_one {
      width: 70%;
      height: 160px;
      margin-top: 35px;
      margin-left: 22px;
  }
  .block_infos_two {
      height: 160px;
      top: 25.5%;
  }
  .block_infos_three {
      height: 180px;
      bottom: 0;
  }
  .block_infos_one > p,
  .block_infos_three > p,
  .block_infos_two > p {
      margin: 0 10px 0 95px;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
@media all and (min-width: 577px) and (max-width: 656px) {
  .child2,
  .flex_copyright,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_link_footer,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 150px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_icon_inch {
      width: 13%;
      padding-bottom: 35px;
      padding-left: 0;
  }
  #Tracé_25 {
      fill: #0066b1;
  }
  .block_title {
      width: 70%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 10px;
      margin-left: 5px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 10px;
  }
  .block_presentation_main {
      margin-top: 90px;
  }
  .div-paragraph {
      width: 75%;
      margin-left: 50px;
  }
  #ligne-dashed-one {
      top: -2%;
      left: 26%;
  }
  #ligne-dashed-two {
      top: 23%;
      left: 26%;
  }
  #ligne-dashed-three {
      bottom: 32%;
      left: 26%;
  }
  #ligne-dashed-four {
      display: block;
      bottom: 9%;
      left: 26%;
  }
  #ligne-dashed-five {
      display: block;
      top: -2%;
      left: 26%;
  }
  #ligne-dashed-two.activeCircleBlue {
      top: 48%;
      left: 26%;
  }
  #ligne-dashed-three.activeCircleBlue {
      bottom: 7%;
      left: 26%;
  }
  #ligne-dashed-four.activeCircleBlue,
  #ligne-dashed-four.activeCircleGrey {
      bottom: 65%;
      left: 26%;
  }
  #ligne-dashed-two.activeCircleGrey {
      top: 48%;
      left: 26%;
      opacity: 0;
  }
  #ligne-dashed-three.activeCircleGrey {
      bottom: 7%;
      left: 26%;
      opacity: 0;
  }
  #ligne-dashed-five.activeCircleGrey {
      top: 47%;
      left: 26%;
  }
  #svg-circle-lign-one {
      top: 10%;
      left: 26%;
  }
  #svg-circle-lign-two {
      bottom: -18%;
      left: 26%;
  }
  #svg-circle-lign-three {
      bottom: -43%;
      left: 26%;
  }
  #svg-circle-lign-two.activeCircleBlue {
      top: 34%;
      left: 26%;
  }
  #svg-circle-lign-three.activeCircleGrey {
      bottom: -10%;
      left: 26%;
  }
  #svg-circle-one {
      top: 2%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two {
      top: 51%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-three {
      bottom: -4%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two.active {
      top: 23%;
      left: 1%;
  }
  #svg-circle-three.active {
      bottom: 25%;
      left: 1%;
      width: 100px;
  }
  #svg-custom,
  #svg-key,
  #svg-key.active,
  #svg-times,
  #svg-times.active {
      width: 28px;
      height: 28px;
      margin-left: 55px;
  }
  #svg-custom {
      top: 13.5%;
  }
  #svg-times {
      top: 252px;
  }
  #svg-times.active {
      top: 140px;
  }
  #svg-key {
      bottom: 32px;
  }
  #svg-key.active {
      bottom: 147px;
  }
  .block_infos_one {
      width: 75%;
      height: 160px;
      margin-top: 35px;
      margin-left: 22px;
  }
  .block_infos_two {
      width: 75%;
      height: 160px;
      position: absolute;
      top: 25.5%;
      left: -4.5%;
  }
  .block_infos_three {
      width: 75%;
      height: 190px;
      position: absolute;
      bottom: -1%;
      left: -4.5%;
  }
  .block_infos_one > p,
  .block_infos_three > p,
  .block_infos_two > p {
      margin: 0 10px 0 95px;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
@media all and (min-width: 485px) and (max-width: 576px) {
  .block_infos_three,
  .block_infos_two {
      position: absolute;
      left: -5.5%;
      width: 90%;
  }
  .block_link_footer,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 150px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_infos_one,
  .block_infos_two {
      height: 160px;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: start;
  }
  .block_icon_inch {
      width: 13%;
      padding-bottom: 35px;
      padding-left: 0;
  }
  #Tracé_25 {
      stroke: #0066b1;
      fill: #0066b1;
  }
  .block_title {
      width: 70%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 10px;
      margin-left: 5px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 10px;
  }
  .block_presentation_main {
      margin-top: 90px;
  }
  .div-paragraph {
      width: 75%;
      margin-left: 50px;
  }
  #ligne-dashed-one {
      top: -2%;
      left: 14%;
      opacity: 1;
  }
  #ligne-dashed-two {
      top: 23%;
      left: 14%;
  }
  #ligne-dashed-three {
      bottom: 32%;
      left: 14%;
  }
  #ligne-dashed-four {
      display: block;
      bottom: 9%;
      left: 14%;
  }
  #ligne-dashed-five {
      display: block;
      top: -2%;
      left: 14%;
  }
  #ligne-dashed-two.activeCircleBlue {
      top: 48%;
      left: 14%;
  }
  #ligne-dashed-three.activeCircleBlue {
      bottom: 7%;
      left: 14%;
  }
  #ligne-dashed-four.activeCircleBlue,
  #ligne-dashed-four.activeCircleGrey {
      bottom: 65%;
      left: 14%;
  }
  #ligne-dashed-two.activeCircleGrey {
      top: 48%;
      left: 14%;
      opacity: 0;
  }
  #ligne-dashed-three.activeCircleGrey {
      bottom: 7%;
      left: 14%;
      opacity: 0;
  }
  #ligne-dashed-five.activeCircleGrey {
      top: 47%;
      left: 14%;
  }
  #svg-circle-lign-one {
      top: 10%;
      left: 14%;
  }
  #svg-circle-lign-two {
      bottom: -18%;
      left: 14%;
  }
  #svg-circle-lign-three {
      bottom: -43%;
      left: 14%;
  }
  #svg-circle-lign-two.activeCircleBlue {
      top: 34%;
      left: 14%;
  }
  #svg-circle-lign-three.activeCircleGrey {
      bottom: -10%;
      left: 14%;
  }
  #svg-circle-one {
      top: 2%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two {
      top: 51%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-three {
      bottom: -4%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two.active {
      top: 23%;
      left: 1%;
  }
  #svg-circle-three.active {
      bottom: 25%;
      left: 1%;
      width: 100px;
  }
  #svg-custom,
  #svg-key,
  #svg-key.active,
  #svg-times,
  #svg-times.active {
      width: 28px;
      height: 28px;
      margin-left: 55px;
  }
  #svg-custom {
      top: 13.5%;
  }
  #svg-times {
      top: 252px;
  }
  #svg-times.active {
      top: 140px;
  }
  #svg-key {
      bottom: 32px;
  }
  #svg-key.active {
      bottom: 147px;
  }
  .block_infos_one {
      width: 90%;
      margin-top: 35px;
      margin-left: 22px;
      display: flex;
      -ms-flex-align: start;
      align-items: start;
  }
  .block_infos_two {
      top: 25.5%;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .block_infos_three,
  .flex_copyright,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_infos_three {
      height: 190px;
      bottom: -1%;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .block_infos_one > p,
  .block_infos_three > p,
  .block_infos_two > p {
      margin: 0 10px 0 95px;
      padding-top: 15px;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
@media all and (min-width: 359px) and (max-width: 484px) {
  #svg-custom,
  #svg-times,
  #svg-times.active {
      width: 28px;
      height: 28px;
      margin-left: 53px;
  }
  .block_infos_three,
  .block_infos_two {
      position: absolute;
      left: -7.6%;
      width: 87%;
  }
  .block_link_footer,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 150px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_infos_one,
  .block_infos_two {
      height: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: start;
  }
  .block_icon_inch {
      width: 16%;
      padding-bottom: 35px;
      padding-left: 15px;
  }
  #Tracé_25 {
      stroke: #0066b1;
      fill: #0066b1;
  }
  .block_title {
      width: 72%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 10px;
      margin-left: 5px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 10px;
  }
  .block_presentation_main {
      margin-top: 90px;
      min-height: 700px;
  }
  .div-paragraph {
      width: 75%;
      margin-left: 50px;
  }
  #ligne-dashed-one {
      top: -2%;
      left: 14%;
      opacity: 1;
  }
  #ligne-dashed-two {
      top: 23%;
      left: 14%;
  }
  #ligne-dashed-three {
      bottom: 32%;
      left: 14%;
  }
  #ligne-dashed-four {
      display: block;
      bottom: 9%;
      left: 14%;
  }
  #ligne-dashed-five {
      display: block;
      top: -2%;
      left: 14%;
  }
  #ligne-dashed-two.activeCircleBlue {
      top: 48%;
      left: 14%;
  }
  #ligne-dashed-three.activeCircleBlue {
      bottom: 7%;
      left: 14%;
  }
  #ligne-dashed-four.activeCircleBlue,
  #ligne-dashed-four.activeCircleGrey {
      bottom: 65%;
      left: 14%;
  }
  #ligne-dashed-two.activeCircleGrey {
      top: 48%;
      left: 14%;
      opacity: 0;
  }
  #ligne-dashed-three.activeCircleGrey {
      bottom: 7%;
      left: 14%;
      opacity: 0;
  }
  #ligne-dashed-five.activeCircleGrey {
      top: 47%;
      left: 14%;
  }
  #svg-circle-lign-one {
      top: 10%;
      left: 14%;
  }
  #svg-circle-lign-two {
      bottom: -18%;
      left: 14%;
  }
  #svg-circle-lign-three {
      bottom: -43%;
      left: 14%;
  }
  #svg-circle-lign-two.activeCircleBlue {
      top: 34%;
      left: 14%;
  }
  #svg-circle-lign-three.activeCircleGrey {
      bottom: -10%;
      left: 14%;
  }
  #svg-circle-one {
      top: 2%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two {
      top: 51%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-three {
      bottom: -4%;
      left: 1%;
      width: 100px;
  }
  #svg-circle-two.active {
      top: 23%;
      left: 1%;
  }
  #svg-circle-three.active {
      bottom: 25%;
      left: 1%;
      width: 100px;
  }
  #svg-custom {
      top: 13.5%;
  }
  #svg-times {
      top: 252px;
  }
  #svg-times.active {
      top: 140px;
  }
  #svg-key,
  #svg-key.active {
      width: 28px;
      height: 28px;
      margin-left: 55px;
  }
  #svg-key {
      bottom: 32px;
  }
  #svg-key.active {
      bottom: 147px;
  }
  .block_infos_one {
      width: 87%;
      margin-top: 35px;
      margin-left: 20px;
      display: flex;
      -ms-flex-align: start;
      align-items: start;
  }
  .block_infos_two {
      top: 25.5%;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .block_infos_three,
  .flex_copyright,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_infos_three {
      height: 265px;
      bottom: -20%;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .block_infos_one > p,
  .block_infos_three > p,
  .block_infos_two > p {
      margin: 0 10px 0 90px;
      padding-top: 15px;
      font-size: 0.9em;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
