/* Média Queries / Responsive */

@media all and (min-width: 1400px) {
  .circle {
    top: 27px;
  }

  .title_menu {
    top: 35px;
  }
}

@media all and (min-width: 1130px) and (max-width: 1399px) {
  .circle {
    top: 30px;
  }

  .title_menu {
    top: 37.5px;
    right: 240px;
  }

  .block_avantages_paragraph {
    padding-right: 10px;
  }

  .img-ordinateur-BMW {
    height: 100%;
  }

  .ligne {
    margin-top: 20px;
  }
}

@media all and (min-width: 993px) and (max-width: 1130px) {
  .circle {
    top: 30px;
  }
  .title_menu {
    top: 37.5px;
    right: 225px;
  }

  .img-ordinateur-BMW {
    height: 100%;
  }

  .ligne {
    margin-top: 40px;
  }
}

@media all and (min-width: 890px) and (max-width: 992px) {
  .circle {
    top: 30px;
    right: 17%;
  }

  .nav-container .checkbox-one {
    right: 17.3%;
  }

  .cross {
    top: 5px;
    right: 15.8%;
  }

  .title_menu {
    display: none;
  }

  .title_paragraph {
    margin-top: 0px;
  }

  .div-img-ordinateur-BMW {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .img-ordinateur-BMW {
    height: 90%;
  }

  .padding_block_paragraph {
    padding-left: 0px;
  }

  .width60 {
    width: 80%;
  }

  .responsive_footer {
    text-align: center;
  }
}

@media all and (min-width: 769px) and (max-width: 890px) {
  .circle {
    top: 30px;
    right: 19%;
  }

  .nav-container .checkbox-one {
    right: 19.3%;
  }

  .cross {
    top: 5px;
    right: 17.8%;
  }

  .title_menu {
    display: none;
  }

  .title_paragraph {
    margin-top: 0px;
  }

  .div-img-ordinateur-BMW {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .img-ordinateur-BMW {
    height: 90%;
  }

  .padding_block_paragraph {
    padding-left: 0px;
  }

  .width60 {
    width: 80%;
  }

  .responsive_footer {
    text-align: center;
  }
}

@media all and (min-width: 577px) and (max-width: 768px) {
  .circle {
    top: 30px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
  }

  .block_presentation-header {
    height: 130px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  .block_icon_contact {
    width: 12%;
    padding-bottom: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #Tracé_1,
  #Tracé_2 {
    fill: #0066b1;
  }

  .block_title {
    width: 80%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.6em;
    padding-bottom: 10px;
    margin-left: 9px;
  }

  .block_title > h1 {
    color: black;
    padding-bottom: 0px;
    padding-left: 14px;
  }

  .block_presentation_main {
    margin-top: 70px;
  }

  .block_contact {
    margin: 10px auto;
  }

  .padding_block_paragraph {
    padding-left: 0px;
  }

  .title_paragraph {
    font-size: 1.7em;
    margin-bottom: 40px;
  }

  .div-img-ordinateur-BMW {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .img-ordinateur-BMW {
    height: 90%;
  }

  .width60 {
    width: 90%;
  }

  .padding_title_paragraph_two {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .block_collapse_one,
  .block_collapse_two,
  .block_collapse_three,
  .block_collapse_four,
  .block_collapse_five,
  .block_collapse_six,
  .block_collapse_seven,
  .block_collapse_eight,
  .block_collapse_nine,
  .block_collapse_ten {
    height: 120px;
  }

  #svg-arrow-one,
  #svg-arrow-two,
  #svg-arrow-three,
  #svg-arrow-four,
  #svg-arrow-five,
  #svg-arrow-six,
  #svg-arrow-seven,
  #svg-arrow-eight,
  #svg-arrow-nine,
  #svg-arrow-ten {
    position: absolute;
    top: 68%;
  }

  .card {
    flex-direction: column;
  }

  .margin_svg_mobile {
    margin-left: 0px !important;
  }

  .text-releveur {
    margin-left: 0px;
  }

  .block_infos {
    height: 130px;
  }

  .flex_infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 40px 0;
  }

  .svg_infos {
    width: 38px;
    height: 38px;
    margin-bottom: 8px;
    margin-top: 2px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}

@media all and (min-width: 359px) and (max-width: 576px) {
  .circle {
    top: 30px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
  }

  .block_presentation-header {
    height: 150px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  .block_icon_contact {
    width: 20%;
    padding-bottom: 27px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #Tracé_1,
  #Tracé_2 {
    fill: #0066b1;
  }

  .block_title {
    width: 81%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-left: 0px;
  }

  .block_title > h1 {
    color: black;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-right: 50px;
  }

  .block_presentation_main {
    margin-top: 90px;
  }

  .block_contact {
    margin: 10px auto;
  }

  .padding_block_paragraph {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 2px;
  }

  .title_paragraph {
    font-size: 1.7em;
    margin-bottom: 30px;
    padding-left: 10px;
  }

  .block_avantages_paragraph {
    padding-left: 10px;
  }

  .div-img-ordinateur-BMW {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .img-ordinateur-BMW {
    height: 90%;
  }

  .width60 {
    width: 90%;
  }

  .padding_title_paragraph_two {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .block_collapse_one,
  .block_collapse_two,
  .block_collapse_three,
  .block_collapse_four,
  .block_collapse_five,
  .block_collapse_six,
  .block_collapse_seven,
  .block_collapse_eight,
  .block_collapse_nine,
  .block_collapse_ten {
    height: 120px;
  }

  .block_collapse_one > p,
  .block_collapse_two > p,
  .block_collapse_three > p,
  .block_collapse_four > p,
  .block_collapse_five > p,
  .block_collapse_six > p,
  .block_collapse_seven > p,
  .block_collapse_eight > p,
  .block_collapse_nine > p,
  .block_collapse_ten > p {
    margin-right: 15px;
  }

  #svg-arrow-one,
  #svg-arrow-two,
  #svg-arrow-three,
  #svg-arrow-four,
  #svg-arrow-five,
  #svg-arrow-six,
  #svg-arrow-seven,
  #svg-arrow-eight,
  #svg-arrow-nine,
  #svg-arrow-ten {
    position: absolute;
    top: 68%;
  }

  .card {
    flex-direction: column;
  }

  .margin_svg_mobile {
    margin-left: 0px !important;
  }

  .text-releveur {
    margin-left: 0px;
    margin-right: 60px;
  }

  .text-releveur-small {
    margin-left: 0px;
    margin-right: 80px;
  }

  .block_infos {
    height: 130px;
  }

  .block_infos > div > p {
    color: white;
    padding: 0 25px 0 25px;
    margin: 0;
  }

  .flex_infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0 40px 0;
  }

  .svg_infos {
    width: 38px;
    height: 38px;
    margin-top: 18px;
    margin-bottom: 8px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}
