/* Média Queries / Responsive */

@media all and (min-width: 1130px) and (max-width: 1399px) {
  .circle {
    top: 17px;
  }

  .title_menu {
    top: 35px;
    right: 240px;
  }

  .block_title {
    padding-left: 10px;
  }

  #svg-repo {
    left: 10.7%;
  }

  #svg-envelope {
    left: 10.9%;
  }

  #svg-form {
    left: 11.2%;
  }

  .block_infos_one,
  .block_infos_two,
  .block_infos_three {
    width: 80%;
  }
}

@media all and (min-width: 993px) and (max-width: 1130px) {
  .circle {
    top: 17px;
  }

  .title_menu {
    top: 35px;
    right: 225px;
  }

  .block_title {
    padding-left: 15px;
  }

  #svg-repo {
    left: 12%;
  }

  #svg-envelope {
    left: 12.2%;
  }

  #svg-form {
    left: 12.5%;
  }

  .block_infos_one,
  .block_infos_two,
  .block_infos_three {
    width: 85%;
  }
}

@media all and (min-width: 890px) and (max-width: 992px) {
  .circle {
    top: 17px;
    right: 17%;
  }

  .nav-container .checkbox-one {
    right: 17.3%;
  }

  .cross {
    top: 5px;
    right: 15.8%;
  }

  .title_menu {
    display: none;
  }

  .block_title {
    padding-left: 20px;
  }

  #ligne-dashed-one,
  #ligne-dashed-two,
  #ligne-dashed-three,
  #svg-circle-lign-one,
  #svg-circle-lign-two,
  #svg-circle-lign-three {
    left: 32%;
  }

  #svg-repo {
    left: 12%;
  }

  #svg-envelope {
    left: 12.3%;
  }

  #svg-form {
    left: 12.5%;
  }

  .block_infos_one,
  .block_infos_two,
  .block_infos_three {
    width: 90%;
  }

  .responsive_footer {
    text-align: center;
  }
}

@media all and (min-width: 769px) and (max-width: 890px) {
  .circle {
    top: 17px;
    right: 19%;
  }

  .nav-container .checkbox-one {
    right: 19.3%;
  }

  .cross {
    top: 5px;
    right: 17.8%;
  }

  .title_menu {
    display: none;
  }

  .img_presentation {
    object-fit: cover;
  }

  .block_icon_calendar {
    width: 25%;
    justify-content: start;
  }

  .block_title {
    margin-left: 0px;
  }

  #ligne-dashed-one,
  #ligne-dashed-two,
  #ligne-dashed-three,
  #svg-circle-lign-one,
  #svg-circle-lign-two,
  #svg-circle-lign-three {
    left: 32%;
  }

  #svg-repo {
    left: 13%;
  }

  #svg-envelope {
    left: 13.2%;
  }

  #svg-form {
    left: 13.5%;
  }

  .block_infos_one,
  .block_infos_two,
  .block_infos_three {
    width: 90%;
  }

  .responsive_footer {
    text-align: center;
  }
}

@media all and (min-width: 657px) and (max-width: 768px) {
  .circle {
    top: 17px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
    object-fit: cover;
  }

  .block_presentation-header {
    height: 150px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  #Tracé_17,
  #Tracé_19,
  #Tracé_20 {
    stroke: #0066b1;
    fill: #0066b1;
  }

  .block_title {
    width: 60%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-left: 9px;
  }

  .block_title > h1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 23px;
    padding-left: 10px;
  }

  .block_icon_calendar {
    padding-bottom: 50px;
  }

  .block_presentation_main {
    margin-top: 110px;
  }

  .div-paragraph {
    width: 75%;
    margin-left: 50px;
  }

  #ligne-dashed-one {
    top: -2%;
    left: 26%;
  }

  #ligne-dashed-two {
    top: 23%;
    left: 26%;
  }

  #ligne-dashed-three {
    bottom: 32%;
    left: 26%;
  }

  #ligne-dashed-four {
    display: block;
    bottom: 9%;
    left: 26%;
  }

  #ligne-dashed-five {
    display: block;
    top: -2%;
    left: 26%;
  }

  #ligne-dashed-two.activeCircleBlue {
    top: 48%;
    left: 26%;
  }

  #ligne-dashed-three.activeCircleBlue {
    bottom: 7%;
    left: 26%;
  }

  #ligne-dashed-four.activeCircleBlue {
    bottom: 65%;
    left: 26%;
  }

  #ligne-dashed-two.activeCircleGrey {
    top: 48%;
    left: 26%;
    opacity: 0;
  }

  #ligne-dashed-three.activeCircleGrey {
    bottom: 7%;
    left: 26%;
    opacity: 0;
  }

  #ligne-dashed-four.activeCircleGrey {
    bottom: 65%;
    left: 26%;
  }

  #ligne-dashed-five.activeCircleGrey {
    top: 47%;
    left: 26%;
  }

  #svg-circle-lign-one {
    top: 10%;
    left: 26%;
  }

  #svg-circle-lign-two {
    bottom: -18%;
    left: 26%;
  }

  #svg-circle-lign-three {
    bottom: -43%;
    left: 26%;
  }

  #svg-circle-lign-two.activeCircleBlue {
    top: 34%;
    left: 26%;
  }

  #svg-circle-lign-three.activeCircleGrey {
    bottom: -10%;
    left: 26%;
  }

  #svg-circle-one {
    top: 2%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two {
    top: 51%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-three {
    bottom: -4%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two.active {
    top: 23%;
    left: 1%;
  }

  #svg-circle-three.active {
    bottom: 25%;
    left: 1%;
    width: 100px;
  }

  #svg-repo {
    width: 28px;
    height: 28px;
    top: 55px;
    left: 9.2%;
  }

  #svg-envelope {
    width: 28px;
    height: 28px;
    top: 252px;
    left: 9.2%;
  }

  #svg-envelope.active {
    width: 28px;
    height: 28px;
    top: 140px;
    left: 9.2%;
  }

  #svg-form {
    width: 28px;
    height: 28px;
    bottom: 32px;
    left: 9.6%;
  }

  #svg-form.active {
    width: 28px;
    height: 28px;
    bottom: 147px;
    left: 9.7%;
  }

  .block_infos_one {
    width: 80%;
    height: 180px;
  }

  .block_infos_two {
    width: 80%;
    height: 180px;
    position: absolute;
    top: 17.5%;
    left: 0%;
  }

  .block_infos_three {
    width: 80%;
    position: absolute;
    bottom: -6.5%;
    left: 0%;
  }

  .block_infos_one > p,
  .block_infos_two > p,
  .block_infos_three > p {
    margin: 0 10px 0 60px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}

@media all and (min-width: 577px) and (max-width: 656px) {
  .circle {
    top: 17px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
    object-fit: cover;
  }

  .block_presentation-header {
    height: 150px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  #Tracé_17,
  #Tracé_19,
  #Tracé_20 {
    stroke: #0066b1;
    fill: #0066b1;
  }

  .block_title {
    width: 60%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-left: 9px;
  }

  .block_title > h1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
  }

  .block_icon_calendar {
    padding-bottom: 40px;
  }

  .block_presentation_main {
    margin-top: 110px;
  }

  .div-paragraph {
    width: 75%;
    margin-left: 50px;
  }

  #ligne-dashed-one {
    top: -2%;
    left: 26%;
  }

  #ligne-dashed-two {
    top: 23%;
    left: 26%;
  }

  #ligne-dashed-three {
    bottom: 32%;
    left: 26%;
  }

  #ligne-dashed-four {
    display: block;
    bottom: 9%;
    left: 26%;
  }

  #ligne-dashed-five {
    display: block;
    top: -2%;
    left: 26%;
  }

  #ligne-dashed-two.activeCircleBlue {
    top: 48%;
    left: 26%;
  }

  #ligne-dashed-three.activeCircleBlue {
    bottom: 7%;
    left: 26%;
  }

  #ligne-dashed-four.activeCircleBlue {
    bottom: 65%;
    left: 26%;
  }

  #ligne-dashed-two.activeCircleGrey {
    top: 48%;
    left: 26%;
    opacity: 0;
  }

  #ligne-dashed-three.activeCircleGrey {
    bottom: 7%;
    left: 26%;
    opacity: 0;
  }

  #ligne-dashed-four.activeCircleGrey {
    bottom: 65%;
    left: 26%;
  }

  #ligne-dashed-five.activeCircleGrey {
    top: 47%;
    left: 26%;
  }

  #svg-circle-lign-one {
    top: 10%;
    left: 26%;
  }

  #svg-circle-lign-two {
    bottom: -18%;
    left: 26%;
  }

  #svg-circle-lign-three {
    bottom: -43%;
    left: 26%;
  }

  #svg-circle-lign-two.activeCircleBlue {
    top: 34%;
    left: 26%;
  }

  #svg-circle-lign-three.activeCircleGrey {
    bottom: -10%;
    left: 26%;
  }

  #svg-circle-one {
    top: 2%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two {
    top: 51%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-three {
    bottom: -4%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two.active {
    top: 23%;
    left: 1%;
  }

  #svg-circle-three.active {
    bottom: 25%;
    left: 1%;
    width: 100px;
  }

  #svg-repo {
    width: 28px;
    height: 28px;
    top: 55px;
    left: 9.2%;
  }

  #svg-envelope {
    width: 28px;
    height: 28px;
    top: 252px;
    left: 9.2%;
  }

  #svg-envelope.active {
    width: 28px;
    height: 28px;
    top: 140px;
    left: 9.2%;
  }

  #svg-form {
    width: 28px;
    height: 28px;
    bottom: 32px;
    left: 9.6%;
  }

  #svg-form.active {
    width: 28px;
    height: 28px;
    bottom: 147px;
    left: 9.7%;
  }

  .block_infos_one {
    width: 80%;
    height: 180px;
  }

  .block_infos_two {
    width: 80%;
    height: 180px;
    position: absolute;
    top: 17.5%;
    left: 0%;
  }

  .block_infos_three {
    width: 80%;
    position: absolute;
    bottom: -6.5%;
    left: 0%;
  }

  .block_infos_one > p,
  .block_infos_two > p,
  .block_infos_three > p {
    margin: 0 10px 0 60px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}

@media all and (min-width: 485px) and (max-width: 576px) {
  .circle {
    top: 17px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
    object-fit: cover;
  }

  .block_presentation-header {
    height: 150px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  #Tracé_17,
  #Tracé_19,
  #Tracé_20 {
    stroke: #0066b1;
    fill: #0066b1;
  }

  .block_title {
    width: 80%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-left: 9px;
  }

  .block_title > h1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
  }

  .block_icon_calendar {
    width: 15%;
    padding-bottom: 40px;
  }

  .block_presentation_main {
    margin-top: 110px;
    min-height: 730px;
  }

  .div-paragraph {
    width: 75%;
    margin-left: 50px;
  }

  #ligne-dashed-one {
    top: -2%;
    left: 14%;
  }

  #ligne-dashed-two {
    top: 23%;
    left: 14%;
  }

  #ligne-dashed-three {
    bottom: 32%;
    left: 14%;
  }

  #ligne-dashed-four {
    display: block;
    bottom: 9%;
    left: 14%;
  }

  #ligne-dashed-five {
    display: block;
    top: -2%;
    left: 14%;
  }

  #ligne-dashed-two.activeCircleBlue {
    top: 48%;
    left: 14%;
  }

  #ligne-dashed-three.activeCircleBlue {
    bottom: 7%;
    left: 14%;
  }

  #ligne-dashed-four.activeCircleBlue {
    bottom: 65%;
    left: 14%;
  }

  #ligne-dashed-two.activeCircleGrey {
    top: 48%;
    left: 14%;
    opacity: 0;
  }

  #ligne-dashed-three.activeCircleGrey {
    bottom: 7%;
    left: 14%;
    opacity: 0;
  }

  #ligne-dashed-four.activeCircleGrey {
    bottom: 65%;
    left: 14%;
  }

  #ligne-dashed-five.activeCircleGrey {
    top: 47%;
    left: 14%;
  }

  #svg-circle-lign-one {
    top: 10%;
    left: 14%;
  }

  #svg-circle-lign-two {
    bottom: -18%;
    left: 14%;
  }

  #svg-circle-lign-three {
    bottom: -43%;
    left: 14%;
  }

  #svg-circle-lign-two.activeCircleBlue {
    top: 34%;
    left: 14%;
  }

  #svg-circle-lign-three.activeCircleGrey {
    bottom: -10%;
    left: 14%;
  }

  #svg-circle-one {
    top: 2%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two {
    top: 51%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-three {
    bottom: -4%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two.active {
    top: 23%;
    left: 1%;
  }

  #svg-circle-three.active {
    bottom: 25%;
    left: 1%;
    width: 100px;
  }

  #svg-repo {
    width: 28px;
    height: 28px;
    top: 55px;
    left: 11.7%;
  }

  #svg-envelope {
    width: 28px;
    height: 28px;
    top: 252px;
    left: 11.7%;
  }

  #svg-envelope.active {
    width: 28px;
    height: 28px;
    top: 140px;
    left: 11.7%;
  }

  #svg-form {
    width: 28px;
    height: 28px;
    bottom: 32px;
    left: 12%;
  }

  #svg-form.active {
    width: 28px;
    height: 28px;
    bottom: 147px;
    left: 12%;
  }

  .block_infos_one {
    width: 80%;
    height: 220px;
  }

  .block_infos_two {
    width: 80%;
    height: 220px;
    position: absolute;
    top: 17.5%;
    left: 0%;
  }

  .block_infos_three {
    width: 80%;
    height: 310px;
    position: absolute;
    bottom: -29%;
    left: 0%;
  }

  .block_infos_one > p,
  .block_infos_two > p,
  .block_infos_three > p {
    margin: 0 10px 0 60px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}

@media all and (min-width: 374px) and (max-width: 484px) {
  .circle {
    top: 17px;
    left: 10%;
  }

  .nav-container .checkbox-one {
    left: 10.5%;
  }

  .cross {
    top: 7px;
    left: 11.7%;
  }

  .child2 {
    display: flex;
    justify-content: flex-end;
  }

  .title_menu,
  .logo_title,
  .ombrage_presentation {
    display: none;
  }

  .img_presentation {
    height: 80%;
    object-fit: cover;
  }

  .block_presentation-header {
    height: 150px;
    width: 100%;
    top: 80%;
    background-color: #e7e6e6;
  }

  #Tracé_17,
  #Tracé_19,
  #Tracé_20 {
    stroke: #0066b1;
    fill: #0066b1;
  }

  .block_title {
    width: 60%;
  }

  .block_title > h2 {
    color: #0066b1;
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-left: 19px;
  }

  .block_title > h1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .block_icon_calendar {
    width: 20%;
    padding-bottom: 28px;
    padding-left: 20px;
  }

  .block_presentation_main {
    margin-top: 110px;
    min-height: 730px;
  }

  .div-paragraph {
    width: 75%;
    margin-left: 50px;
  }

  #ligne-dashed-one {
    top: -2%;
    left: 14%;
  }

  #ligne-dashed-two {
    top: 23%;
    left: 14%;
  }

  #ligne-dashed-three {
    bottom: 32%;
    left: 14%;
  }

  #ligne-dashed-four {
    display: block;
    bottom: 9%;
    left: 14%;
  }

  #ligne-dashed-five {
    display: block;
    top: -2%;
    left: 14%;
  }

  #ligne-dashed-two.activeCircleBlue {
    top: 48%;
    left: 14%;
  }

  #ligne-dashed-three.activeCircleBlue {
    bottom: 7%;
    left: 14%;
  }

  #ligne-dashed-four.activeCircleBlue {
    bottom: 65%;
    left: 14%;
  }

  #ligne-dashed-two.activeCircleGrey {
    top: 48%;
    left: 14%;
    opacity: 0;
  }

  #ligne-dashed-three.activeCircleGrey {
    bottom: 7%;
    left: 14%;
    opacity: 0;
  }

  #ligne-dashed-four.activeCircleGrey {
    bottom: 65%;
    left: 14%;
  }

  #ligne-dashed-five.activeCircleGrey {
    top: 47%;
    left: 14%;
  }

  #svg-circle-lign-one {
    top: 10%;
    left: 14%;
  }

  #svg-circle-lign-two {
    bottom: -18%;
    left: 14%;
  }

  #svg-circle-lign-three {
    bottom: -43%;
    left: 14%;
  }

  #svg-circle-lign-two.activeCircleBlue {
    top: 34%;
    left: 14%;
  }

  #svg-circle-lign-three.activeCircleGrey {
    bottom: -10%;
    left: 14%;
  }

  #svg-circle-one {
    top: 2%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two {
    top: 51%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-three {
    bottom: -4%;
    left: 1%;
    width: 100px;
  }

  #svg-circle-two.active {
    top: 23%;
    left: 1%;
  }

  #svg-circle-three.active {
    bottom: 25%;
    left: 1%;
    width: 100px;
  }

  #svg-repo {
    width: 28px;
    height: 28px;
    top: 55px;
    left: 14.3%;
  }

  #svg-envelope {
    width: 28px;
    height: 28px;
    top: 252px;
    left: 14.3%;
  }

  #svg-envelope.active {
    width: 28px;
    height: 28px;
    top: 140px;
    left: 14.3%;
  }

  #svg-form {
    width: 28px;
    height: 28px;
    bottom: 32px;
    left: 14.8%;
  }

  #svg-form.active {
    width: 28px;
    height: 28px;
    bottom: 147px;
    left: 14.8%;
  }

  .block_infos_one {
    width: 80%;
    height: 220px;
  }

  .block_infos_two {
    width: 80%;
    height: 220px;
    position: absolute;
    top: 17.5%;
    left: 0%;
  }

  .block_infos_three {
    width: 80%;
    height: 310px;
    position: absolute;
    bottom: -29%;
    left: 0%;
  }

  .block_infos_one > p,
  .block_infos_two > p,
  .block_infos_three > p {
    margin: 0 10px 0 60px;
  }

  footer {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: 0center;
    background: #e6e6e6;
  }

  .copyright {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .flex_copyright {
    display: flex;
    justify-content: center;
  }

  .block_link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-footer {
    margin-top: 15px;
  }
}
