@media all and (min-width: 1400px) {
  .circle {
      top: 27px;
  }
  .title_menu {
      top: 35px;
  }
}
@media all and (min-width: 1130px) and (max-width: 1399px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 240px;
  }
  .svg_infos {
      width: 68px;
      height: 68px;
  }
}
@media all and (min-width: 993px) and (max-width: 1130px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 225px;
  }
  .svg_infos {
      width: 68px;
      height: 68px;
  }
}
@media all and (min-width: 890px) and (max-width: 992px) {
  .circle {
      top: 30px;
      right: 17%;
  }
  .nav-container .checkbox-one {
      right: 17.3%;
  }
  .cross {
      top: 5px;
      right: 15.8%;
  }
  .title_menu {
      display: none;
  }
  .block_infos {
      height: 95px;
  }
  .svg_infos {
      width: 98px;
      height: 98px;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 769px) and (max-width: 890px) {
  .circle {
      top: 30px;
      right: 19%;
  }
  .nav-container .checkbox-one {
      right: 19.3%;
  }
  .cross {
      top: 5px;
      right: 17.8%;
  }
  .title_menu {
      display: none;
  }
  .block_icon_accident {
      width: 15%;
  }
  #svg-accident {
      margin-right: 20px;
  }
  .block_infos {
      height: 100px;
  }
  .svg_infos {
      width: 98px;
      height: 98px;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 577px) and (max-width: 768px) {
  .block_container,
  .block_link_footer,
  .flex_infos,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .block_container,
  .block_icon_accident {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 130px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  #Tracé_21,
  #Tracé_22,
  #Tracé_23 {
      fill: #0066b1;
  }
  .block_icon_accident {
      width: 15%;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      padding-left: 28px;
      padding-bottom: 15px;
  }
  #svg-accident {
      margin-right: 0;
  }
  .block_title {
      width: 70%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 10px;
      margin-left: 19px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 20px;
  }
  .block_presentation_main {
      margin-top: 70px;
  }
  .block_container {
      margin-top: 10px;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .flex_copyright,
  .flex_infos,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_collapse {
      margin-top: 10px;
  }
  h2.uppercase {
      font-size: 1.9em;
  }
  .padding_block_paragraph {
      padding-left: 0;
  }
  .block_infos {
      height: 200px;
  }
  .flex_infos {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px 0 40px;
  }
  .svg_infos {
      width: 38px;
      height: 38px;
      margin-bottom: 8px;
      margin-top: 8px;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
@media all and (min-width: 359px) and (max-width: 576px) {
  .block_container,
  .block_link_footer,
  .flex_infos,
  footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .block_container,
  .block_icon_accident {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 130px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  #Tracé_21,
  #Tracé_22,
  #Tracé_23 {
      fill: #0066b1;
  }
  .block_icon_accident {
      width: 20%;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      padding-left: 19px;
      padding-bottom: 15px;
  }
  #svg-accident {
      margin-right: 0;
  }
  .block_title {
      width: 100%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 10px;
      margin-left: 19px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 20px;
  }
  .block_presentation_main {
      margin-top: 70px;
  }
  .block_container {
      margin-top: 10px;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .flex_copyright,
  .flex_infos,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .block_collapse {
      margin-top: 10px;
  }
  .padding_block_paragraph {
      padding-left: 0;
  }
  h2.uppercase {
      font-size: 1.7em;
  }
  .block_infos {
      height: 300px;
  }
  .block_infos > div > p {
      color: #fff;
      padding: 0 30px;
      margin: 0;
  }
  .flex_infos {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px 0 40px;
  }
  .svg_infos {
      width: 38px;
      height: 38px;
      margin-bottom: 13px;
  }
  footer {
      height: 33%;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: 0center;
      -ms-flex-align: 0center;
      align-items: 0center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
