@media all and (min-width: 1400px) {
  .circle {
      top: 27px;
  }
  .title_menu {
      top: 35px;
  }
}
@media all and (min-width: 1130px) and (max-width: 1399px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 240px;
  }
  li {
      margin-right: 20px;
  }
}
@media all and (min-width: 993px) and (max-width: 1130px) {
  .circle {
      top: 30px;
  }
  .title_menu {
      top: 37.5px;
      right: 225px;
  }
  li {
      margin-right: 20px;
  }
}
@media all and (min-width: 890px) and (max-width: 992px) {
  .circle {
      top: 30px;
      right: 17%;
  }
  .nav-container .checkbox-one {
      right: 17.3%;
  }
  .cross {
      top: 5px;
      right: 15.8%;
  }
  .title_menu {
      display: none;
  }
  .block_collapse_one,
  .block_collapse_three,
  .block_collapse_two,
  .div-img-famille_BMW,
  .div-img-hommes-bureau {
      margin-top: 20px;
  }
  li {
      margin-right: 20px;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 769px) and (max-width: 890px) {
  .circle {
      top: 30px;
      right: 19%;
  }
  .nav-container .checkbox-one {
      right: 19.3%;
  }
  .cross {
      top: 5px;
      right: 17.8%;
  }
  .title_menu {
      display: none;
  }
  .block_collapse_one,
  .block_collapse_three,
  .block_collapse_two,
  .div-img-famille_BMW,
  .div-img-hommes-bureau {
      margin-top: 20px;
  }
  li {
      margin-right: 20px;
  }
  .responsive_footer {
      text-align: center;
  }
}
@media all and (min-width: 577px) and (max-width: 768px) {
  .block_container,
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .block_container,
  .flex_list_puce_responsive {
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 130px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_icon_options {
      width: 15%;
      padding-bottom: 10px;
      padding-left: 30px;
  }
  #noun-options-4923509 {
      fill: #0066b1;
  }
  .block_title {
      width: 70%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 20px;
      margin-left: 5px;
  }
  .block_title > h1 {
      color: #000;
      padding-bottom: 0;
      padding-left: 10px;
  }
  .block_presentation_main {
      margin-top: 70px;
  }
  .block_container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .flex_copyright,
  .flex_list_puce_responsive,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  h2.uppercase {
      font-size: 1.7em;
  }
  h3.uppercase {
      margin-bottom: 35px;
  }
  .block_collapse_one {
      margin-top: 0;
  }
  .block_collapse_three,
  .block_collapse_two,
  .div-img-famille_BMW,
  .div-img-hommes-bureau {
      margin-top: 20px;
  }
  .flex_list_puce_responsive {
      display: flex;
      flex-direction: column;
  }
  footer {
      height: 33%;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .link-footer {
      margin-top: 15px;
  }
}
@media all and (min-width: 359px) and (max-width: 576px) {
  .block_container,
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  .circle {
      top: 30px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 25px;
  }
  .block_container,
  .flex_list_puce_responsive {
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
  }
  .logo_title,
  .ombrage_presentation,
  .title_menu {
      display: none;
  }
  .img_presentation {
      height: 80%;
  }
  .block_presentation-header {
      height: 130px;
      width: 100%;
      top: 80%;
      background-color: #e7e6e6;
  }
  .block_icon_options {
      width: 18%;
      padding-bottom: 20px;
      padding-left: 15px;
  }
  .block_title > h1,
  .padding_block_responsive {
      padding-left: 10px;
  }
  #noun-options-4923509 {
      fill: #0066b1;
  }
  .block_title {
      width: 100%;
  }
  .block_title > h2 {
      color: #0066b1;
      font-size: 1.6em;
      padding-bottom: 15px;
      margin-left: 3px;
  }
  .block_title > h1 {
      width: 70%;
      color: #000;
      padding-bottom: 10px;
  }
  .block_presentation_main {
      margin-top: 70px;
  }
  .block_container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .flex_copyright,
  .flex_list_puce_responsive,
  footer {
      display: -webkit-box;
      display: -ms-flexbox;
  }
  h2.uppercase {
      font-size: 1.8em;
  }
  h3.uppercase {
      padding-bottom: 0;
  }
  .block_collapse_one {
      margin-top: 10px;
  }
  .block_collapse_three,
  .block_collapse_two,
  .link-footer {
      margin-top: 15px;
  }
  .flex_list_puce_responsive {
      display: flex;
      flex-direction: column;
  }
  .div-img-famille_BMW,
  .div-img-hommes-bureau {
      margin-top: 35px;
  }
  .img-famille_BMW,
  .img-hommes-bureau {
      width: 97%;
  }
  .block_infos {
      height: 115px;
      font-weight: 700;
  }
  footer {
      height: 33%;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #e6e6e6;
  }
  .copyright {
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 0;
  }
  .flex_copyright {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  .block_link_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
}