@media all and (min-width: 993px) and (max-width: 1399px) {
  .block_presentation {
      width: 65%;
      height: 76%;
      top: 19%;
  }
  .block_paragraph {
      font-size: 1em;
  }
  h1 {
      font-size: 1.6em;
      padding-top: 25px;
  }
  p {
      margin: 0 0 10px;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .block_presentation {
      width: 65%;
      height: 76%;
      top: 19%;
  }
  .block_paragraph {
      width: 85%;
      font-size: 1em;
  }
  h1 {
      font-size: 1.4em;
      padding-top: 25px;
  }
  p {
      margin: 0 0 6px;
  }
}
@media all and (min-width: 577px) and (max-width: 768px) {
  nav {
      display: block;
  }
  .circle {
      top: 22px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 27px;
  }
  .logo_title,
  .title_menu {
      display: none;
  }
  .img_presentation {
      width: 100%;
      height: 50%;
  }
  .ombrage_responsive {
      height: 15%;
  }
  .block_presentation {
      width: 85%;
      height: 78%;
      top: 50%;
      left: 10%;
      background: 0 0;
  }
  .block_paragraph {
      width: 85%;
      font-size: 1em;
  }
  h1 {
      font-size: 1.6em;
      padding-top: 25px;
  }
  p {
      margin: 0 0 6px;
  }
}
@media all and (min-width: 359px) and (max-width: 576px) {
  nav {
      display: block;
  }
  .circle {
      top: 22px;
      left: 10%;
  }
  .nav-container .checkbox-one {
      left: 10.5%;
  }
  .cross {
      top: 7px;
      left: 11.7%;
  }
  .child2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 25px;
  }
  .logo_title,
  .title_menu {
      display: none;
  }
  .img_presentation {
      width: 100%;
      height: 50%;
  }
  .ombrage_responsive {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 15%;
  }
  .block_presentation {
      width: 100%;
      height: 82%;
      top: 50%;
      left: 0;
      background: 0 0;
  }
  .block_paragraph {
      width: 85%;
      font-size: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  h1 {
      font-size: 1.6em;
      padding-top: 25px;
      padding-right: 0;
      width: 100%;
  }
  p {
      margin: 16px 0;
      width: 70%;
      padding: 0;
  }
  .block_button {
      padding-bottom: 40px;
  }
  .button-five,
  .button-four,
  .button-one,
  .button-six,
  .button-three,
  .button-two {
      width: 350px;
      height: 70px;
      padding-left: 10px;
      font-size: 1em;
  }
  .svg-credit,
  .svg-credit-ballon,
  .svg-ldd,
  .svg-loa,
  .svg-passlease-ldd,
  .svg-passlease-loa {
      top: 16px;
      padding-right: 0;
      width: 60px;
      height: 44px;
      text-align: right;
  }
}
